parameters:
  paths:
    - src
  level: max
  excludePaths:
    - %currentWorkingDirectory%/src/settings.platformsh.php
  ignoreErrors:
    -
      message: '#Variable \$app_root might not be defined.#'
      path: %currentWorkingDirectory%/src/site.settings.php
    -
      message: '#Variable \$site_path might not be defined.#'
      path: %currentWorkingDirectory%/src/site.settings.php
    -
      message: '#Call to an undefined method [a-zA-Z0-9\\_]+::replace\(\).#'
      path: %currentWorkingDirectory%/src/Commands/BaseCommands.php
    -
      message: '#Parameter \#1 \$roboClass of class [a-zA-Z0-9\\_]+ constructor expects string\|null, array\<int, string\> given.#'
      path: %currentWorkingDirectory%/psh-toolbelt
    -
      message: '#Variable \$targetFile might not be defined.#'
      path: %currentWorkingDirectory%/src/Commands/BackupCommands.php
    -
      message: '#Method wearewondrous\\PshToolbelt\\Commands\\BackupCommands::backupBranch\(\) has parameter \$opt with no value type specified in iterable type array.#'
      path: %currentWorkingDirectory%/src/Commands/BackupCommands.php
