# No trailing slashes
# No starting slashes if not absolute path

storage:
  backup:
    max_age: 432000         # 60 * 60 * 24 * 5
  s3:
    version: latest
    region: eu-west-1
    upload_bucket: backups

platform:
  host: eu.platform.sh
  domain: my-website.com
  mounts:
    temp: tmp
    config: remote-config

drupal:
  hash_salt: 1234567890abcdefghijklmnopqlmnopqrstuvwxyz12345678
  config_sync_directory: config/drupal
  public_files_directory: web/sites/default/files
  private_files_directory: private
  excludes:
    - .htaccess
    - js
    - css
    - styles
    - translations
    - languages
    - config
  config:
    splits:
      default:
        machine_name: default
        folder: default
      prod:
        machine_name: production
        folder: prod
      dev:
        machine_name: development
        folder: dev

drush:
  alias_group: my-website
  alias: local
  path: vendor/bin/drush

solr_relationships:
#  solr:
#    core: main
#    machine_name: default
#  solr2:
#    core: extraindex
#    machine_name: extraindex

lando:
  disable_cache: true
  host: my-website.lndo.site
  mysql:
    database: drupal
    hostname: database
    password: drupal
    port: 3306
    user: drupal

redis:
  local: true
  dev: true
  prod: true
